<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Detalhes do Fornecedor</title>
</head>
<body>
  <h1>Detalhes do Fornecedor</h1>
  <p>Nome: <%= supplier.name %></p>
  <p>Contato: <%= supplier.contact %></p>
  <a href="/fornecedores">Voltar</a>
</body>
</html> 