<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Editar Fornecedor</title>
</head>
<body>
  <h1>Editar Fornecedor</h1>
  <form action="/fornecedores/<%= supplier.id %>" method="post">
    <label>Nome: <input type="text" name="name" value="<%= supplier.name %>" required></label><br>
    <label>Contato: <input type="text" name="contact" value="<%= supplier.contact %>"></label><br>
    <button type="submit">Salvar</button>
  </form>
  <a href="/fornecedores">Voltar</a>
</body>
</html> 