<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Novo Fornecedor</title>
</head>
<body>
  <h1>Novo Fornecedor</h1>
  <form action="/fornecedores" method="post">
    <label>Nome: <input type="text" name="name" required></label><br>
    <label>Contato: <input type="text" name="contact"></label><br>
    <button type="submit">Salvar</button>
  </form>
  <a href="/fornecedores">Voltar</a>
</body>
</html> 