<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Detalhes do Produto</title>
</head>
<body>
  <h1>Detalhes do Produto</h1>
  <p>Nome: <%= product.name %></p>
  <p>Preço: R$ <%= product.price %></p>
  <a href="/produtos">Voltar</a>
</body>
</html> 