<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gestão de Produtos e Fornecedores</title>
</head>
<body>
  <h1>Gestão de Produtos e Fornecedores</h1>
  <ul>
    <li><a href="/produtos">Produtos</a></li>
    <li><a href="/fornecedores">Fornecedores</a></li>
  </ul>
</body>
</html> 